#container{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 90vh;
    width: 90vw;
}

#title{
    text-align:center;
    font-size: 3rem;
    margin: 0;
    color: seagreen;
}

#text{
    margin: auto;
    text-align: center;
    position: fixed;
    right: 150px;
    top: 10px;
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    gap: 20px;
}

.box{
    border: solid 1px black;
}

.snake{
    background-color:green;
}

.apple{
    background-color: red;
}

.hit{
    color: red;
}