#container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 80vh;
    width: 80vw;
}

.box{
    border: solid 1px black;
}

.snake{
    background-color:green;
}

.apple{
    background-color: red;
}